flows.json
[{"id":"57605b25.8048a4","type":"tab","label":"map_test","disabled":false,"info":""},{"id":"2c790323.d510f4","type":"ip-location-lite","z":"57605b25.8048a4","name":"get_loc","inputField":"payload.addr","outputField":"location","x":510,"y":160,"wires":[["87d7fe98.7a1bd8","7cb9d2a7.14d03c"]]},{"id":"42334811.5e6ee8","type":"inject","z":"57605b25.8048a4","name":"inject 207.97.227.239","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"207.97.227.239","payloadType":"str","x":310,"y":140,"wires":[["2c790323.d510f4"]]},{"id":"87d7fe98.7a1bd8","type":"debug","z":"57605b25.8048a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"location.ll","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":240,"wires":[]},{"id":"4e61c070.518cc8","type":"inject","z":"57605b25.8048a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"update","payloadType":"str","x":350,"y":80,"wires":[[]]},{"id":"2683b8d.75202c8","type":"worldmap","z":"57605b25.8048a4","name":"Server Location","lat":"0","lon":"40","zoom":"2","layer":"OSM","cluster":"19","maxage":"15","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"deg","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":300,"y":340,"wires":[]},{"id":"7cb9d2a7.14d03c","type":"change","z":"57605b25.8048a4","name":"get name, lat, lon","rules":[{"t":"set","p":"payload2.lat","pt":"msg","to":"location.ll[0]","tot":"msg"},{"t":"set","p":"payload2.lon","pt":"msg","to":"location.ll[1]","tot":"msg"},{"t":"set","p":"payload2.name","pt":"msg","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":240,"wires":[["7d9edacb.7cd774"]]},{"id":"c435cb11.e0a4d8","type":"debug","z":"57605b25.8048a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":280,"wires":[]},{"id":"7d9edacb.7cd774","type":"change","z":"57605b25.8048a4","name":"pld2_pld","rules":[{"t":"move","p":"payload2","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":110,"y":320,"wires":[["2683b8d.75202c8","c435cb11.e0a4d8"]]},{"id":"60932c1a.669ed4","type":"udp in","z":"57605b25.8048a4","name":"UDP 1885","iface":"","port":"1885","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":90,"y":360,"wires":[["f8bc92fd.bbdcf"]]},{"id":"f8bc92fd.bbdcf","type":"split","z":"57605b25.8048a4","name":"","splt":"\\n","spltType":"str","arraySplt":"100","arraySpltType":"len","stream":false,"addname":"","x":90,"y":420,"wires":[["2659223f.81a7a6"]]},{"id":"2659223f.81a7a6","type":"function","z":"57605b25.8048a4","name":"buf2string","func":"var newMsg = { payload: msg.payload.length };\nnewMsg.payload = msg.payload.toString();\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":480,"wires":[["19c7ab85.da292c"]]},{"id":"535c90e6.1f54d","type":"inject","z":"57605b25.8048a4","name":"src_local","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":",1,L4_123,183.79.219.252","payloadType":"str","x":100,"y":540,"wires":[["19c7ab85.da292c"]]},{"id":"19c7ab85.da292c","type":"csv to json ext","z":"57605b25.8048a4","name":"区切り","version":"0.1","source":"payload","delimiter":",","quote":"\"","escape":"\"","ignoreEmpty":true,"checkType":false,"trim":false,"noheader":true,"includeColumns":"","headers":"\"d\",\"num\",\"src\",\"dst\"","debug":false,"x":300,"y":520,"wires":[["4311b326.320ecc"]]},{"id":"4311b326.320ecc","type":"switch","z":"57605b25.8048a4","name":"src Local chk","property":"payload[0].src","propertyType":"msg","rules":[{"t":"cont","v":"L","vt":"str"},{"t":"regex","v":"[:.]","vt":"str","case":false}],"checkall":"false","repair":false,"outputs":2,"x":480,"y":520,"wires":[["7ea011ca.4d2da8"],["6d3e8adc.779a44"]]},{"id":"e71a6eea.4609c8","type":"debug","z":"57605b25.8048a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":380,"wires":[]},{"id":"4a12b5bb.f91154","type":"inject","z":"57605b25.8048a4","name":"dst local","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":",1,183.79.219.252,L6_123","payloadType":"str","x":110,"y":580,"wires":[["19c7ab85.da292c"]]},{"id":"e228ce5e.3df8a8","type":"template","z":"57605b25.8048a4","name":"get id and addr","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n \"id\":\"{{payload.id}}_{{payload.num}}_{{payload.addr}}\", \"addr\":\"{{payload.addr}}\"\n }","output":"json","x":580,"y":340,"wires":[["2c790323.d510f4","e71a6eea.4609c8"]]},{"id":"7ea011ca.4d2da8","type":"change","z":"57605b25.8048a4","name":"src is local","rules":[{"t":"set","p":"payload.addr","pt":"msg","to":"payload[0].dst","tot":"msg"},{"t":"set","p":"payload.id","pt":"msg","to":"payload[0].src","tot":"msg"},{"t":"set","p":"payload.num","pt":"msg","to":"payload[0].num","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":440,"wires":[["e228ce5e.3df8a8"]]},{"id":"6d3e8adc.779a44","type":"change","z":"57605b25.8048a4","name":"dst is local","rules":[{"t":"set","p":"payload.addr","pt":"msg","to":"payload[0].src","tot":"msg"},{"t":"set","p":"payload.id","pt":"msg","to":"payload[0].dst","tot":"msg"},{"t":"set","p":"payload.num","pt":"msg","to":"payload[0].num","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":540,"wires":[["e228ce5e.3df8a8"]]}]